* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background: #548486;
}
.container {
  height: 70vh;
  display: flex;

  align-items: center;
  justify-content: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  /* color: #463eb0; */
  background: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background: #191918;
  color: #ffff;
  border-radius: 1rem;
  border: none;
}
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  width: max-content;
  background: #191918;
  color: #ffff;
  border-radius: 1rem;
  border: none;
}
.msg-container {
  height: 100vmin;
  font-size: 5vmin;
  color: #ffffc7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}

.o-player {
  color: #463eb0; /* Set color for O */
}

.x-player {
  color: #b0413e; /* Set color for X */
}
